spring:
  application:
    name: auth-service
  datasource:
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5168/auth_db
  jpa:
    hibernate:
      ddl-auto: update
logging:
  level:
    org.springframework.security: debug
server:
  port: 9000
  servlet:
    session:
      tracking-modes: cookie
eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.hostname}:${spring.application.name}:${spring.application.instance_id:${server.port}}}