server:
  port: 8080
spring:
  application:
    name: gateway
  security:
    oauth2:
      client:
        registration:
          auth:
            provider: auth-server
            client-id: gateway
            client-secret: secret
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - openid
        provider:
          auth-server:
            authorization-uri: http://localhost:9000/oauth2/authorize
            token-uri: http://localhost:9000/oauth2/token
            user-name-attribute: sub
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000/jwks