spring:
  application:
    name: order-service
  datasource:
    password: postgres
    username: postgres
    url: jdbc:postgresql://localhost:5168/orders_db
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
server:
  port: 8081
